body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #315E51;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav li {
    margin-right: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.navIcon {
    width: 20px;
    height: 20px;
}

.logoL {
    width: 143px;
    height: 112px;
}

/* Media queries para hacer el nav responsive */

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav ul {
        margin-top: 10px; /* Espacio entre los elementos en modo columna */
    }

    .nav li {
        margin-right: 0;
        margin-bottom: 10px; /* Espacio entre elementos en modo columna */
    }
}
